/*styles for the page*/
.company-detail h1 {
    text-align: center;
    font-family: 'Century', Times, serif;
    font-style: oblique;
}


/*styles for tabs*/
#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
#tabs li {
    float: left;
    margin: 0 .5em 0 0;
}
 
#tabs a {
    position: relative;
    background: rgb(255, 248, 220);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 248, 220)));
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 248, 220));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(255, 248, 220));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(255, 248, 220));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(255, 248, 220));
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 248, 220));
    padding: .7em 1.5em;
    float: left;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
    -moz-box-shadow: 0 2px 2px rgb(0, 0, 0);
    -webkit-box-shadow: 0 2px 2px rgb(0, 0, 0);
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
}
 
#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
    background: rgb(255, 255, 255);
}
 
#tabs a:focus {
    outline: 0;
}
 
#tabs a::after {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;  
    bottom: 0;
    width: 1em;
    background: rgb(255, 248, 220);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(255, 248, 220)));
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 248, 220));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(255, 248, 220));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(255, 248, 220));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(255, 248, 220));
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 248, 220));  
    -moz-box-shadow: 2px 2px 2px rgb(0, 0, 0);
    -webkit-box-shadow: 2px 2px 2px rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg);
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}
 
#tabs #current a,
#tabs #current a::after {
    background: rgb(255, 255, 255);
    z-index: 3;
}

/*styles for content*/
#content {
    background: rgb(255, 255, 255);
    padding: 2em;
    margin-bottom: 5vh;
    z-index: 2;	
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    -moz-box-shadow: 0 -2px 3px -2px rgb(0, 0, 0);
    -webkit-box-shadow: 0 -2px 3px -2px rgb(0, 0, 0);
    box-shadow: 0 -2px 3px -2px rgb(0, 0, 0);
    font-family: 'Century', Times, serif;
}

#content #tab1 {
    height: 100vh;
}

#content #tab2 {
    height: 750vh;
}

#content #tab3 {
    height: 100vh;
}

.profile {
    position: relative;
    float: left;
    width: 75%;
    font-family: 'Century', Times, serif;
}

.profile h2 {
    padding: 2vh;
    font-family: 'Century', Times, serif;
}

.profile p {
    text-align: left;
    font-family: 'Century', Times, serif;
    font-size: 120%;
}

.logo {
    float: right;
    width: 15%;
}

.tab2_charts {
    position: relative;
    float: left;
    margin-top: 5vh;
    padding: 2vh;
    width: 100%;
    font-family: 'Century', Times, serif;
}

.tab2_charts h2 {
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-family: 'Century', Times, serif;
}

.tab2_charts canvas {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 0;
}

.tab2-metrics,
.tab3-balanceSheet-options {
    float: left;
    font-family: 'Century', Times, serif;
}

.tab2-metrics h2 {
    padding: 2vh;
    font-family: 'Century', Times, serif;
}

.tab2-metrics select,
.tab3-balanceSheet-options select {
    padding: 2vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Century', Times, serif;
    font-size: 120%;
    margin-bottom: 3vh;
}

#tab2-period-button,
#tab3-balanceSheet-button {
    padding: 2vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Century', Times, serif;
    font-size: 120%;
    margin-bottom: 3vh;
}

#tab2-period-button:hover,
#tab3-balanceSheet-button:hover {
    padding: 2vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Century', Times, serif;
    font-size: 120%;
    margin-bottom: 3vh;
}



