.registration-greeting {
    width: 100%;
    border-top: 2px solid #ccc;
    margin-bottom: 10vh;
}

.registration-greeting h1 {
    position: relative;
    text-align: center;
    font-family: 'Century', Times, serif;
    font-style: oblique;
    font-size: 60px;
    margin-top: 60px;
}

.registration-greeting h2 {
    position: relative;
    text-align: center;
    margin-top: 10px;
    font-family: 'Century', Times, serif;
    font-style: oblique;
    text-indent: 30px;
}

.registration-form {
    position: relative;
    width: 50%;
    border: 2px solid #ccc;
    margin: 0 auto;
}

.registration-form h2 {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-family: 'Century', Times, serif;
    font-style: oblique;
    text-indent: 30px;
}

.registration-form-first-name-field {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
}

.registration-form-first-name-field .registration-form-control {
    width: 90%;
    height: 40px;
    border: 2px solid #ccc;
}

.registration-form-last-name-field {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
}

.registration-form-last-name-field .registration-form-control {
    width: 90%;
    height: 40px;
    border: 2px solid #ccc;
}

.registration-form-email-field {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
}

.registration-form-email-field .registration-form-control {
    width: 90%;
    height: 40px;
    border: 2px solid #ccc;
}

.registration-form-password-field {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
}

.registration-form-password-field .registration-form-control {
    width: 90%;
    height: 40px;
    border: 2px solid #ccc;
}

.registration-form-submit {
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    justify-content: center;
}

.registration-form-submit .registration-form-control {
    width: 90%;
    height: 40px;
    border: 2px solid #000;
    background-color: rgba(168,186,191,0.8);
}
.registration-redirect-registration {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.registration-redirect-registration p {
    text-align: center;
    margin-top: 10px;
    margin-right: 15px;
    font-family: 'Century', Times, serif;
    font-style: oblique;
}

.registration-redirect-registration a {
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Century', Times, serif;
    font-style: oblique;
}