<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css', v=1) }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css', v=1) }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css', v=1) }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/registration.css', v=1) }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/top_menu.css', v=1) }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/company_index.css', v=1) }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/company_detail.css', v=1) }}">
    </head>
    <body>
        <!--the main block of the website-->
        <!--the header-->
        <header>
            <div class="container">
                <div class="header-body>">
                    <a class="user-profile">
                        <img src="{{ url_for('static', filename='images/profile.png') }} " alt="responsive image to open profile window">
                    </a>
                    <div class="user-profile-dialog-window">
                        <div class="profile-image">
                            <img src="" alt="user icon">
                        </div>
                        <div class="user-info-dialog-window">
                            {% if current_user.is_authenticated %}
                            <div class="greeting-user-name">
                                <h4>Добро пожаловать,<br> {{ current_user.first_name}} {{ current_user.last_name }}</h4>
                            </div>
                            <div class="profile-dialog-window-buttons">
                                <a class="sign-up" href="">личный кабинет</a>
                                <a class="sign-in" href="{{ url_for('user.logout') }}">Выйти</a>
                            </div>
                            {% else %}
                            <div class="greeting-user-name">
                                <h4>Добро пожаловать на сайт</h4>
                            </div>
                            <div class="profile-dialog-window-buttons">
                                <a class="sign-up" href="{{ url_for('user.registration') }}">Регистрация</a>
                                <a class="sign-in" href="{{ url_for('user.login') }}">Войти</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <a class="logotype" href="/">
                        <img src="{{ url_for('static', filename='images/logotype.png') }}">
                    </a>
                </div>
            </div>
        </header>
            <!--the main content-->
        <div class="main-content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        <script>
            // process events of the profile icon click
            let flag = false;
            document.querySelector('.user-profile').addEventListener('click', openProfileDialogWindow);
            function openProfileDialogWindow() {
                if (flag) {
                    document.querySelector('.user-profile-dialog-window').setAttribute('style', 'display: none');
                    flag = false;
                } else {
                    document.querySelector('.user-profile-dialog-window').setAttribute('style', 'display: flex');
                    flag = true;
                }
            }
        </script>
    </body>
</html>