{% extends 'base.html' %}
{% block content %}
    <div class="index">
        <h1>Smart invest decision.</h1>
        <h2>Информационный портал для начинающих инвесторов.</h2>
        <table>
            <tr>
                <td>
                    <img src="{{ url_for('static', filename='images/company.png') }}" href=" ">
                </td>
                <td>
                    <a href="{{ url_for('company.index') }}">Компании</a>
                </td>
                <td class="description">
                    <p>В данном разделе содержится информация о различных компаниях (профиль, финансовые показатели, котировки акций, мультипликаторы и многое другое.)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ url_for('static', filename='images/industry.png') }}" href=" ">
                </td>
                <td>
                    <a href=" ">Отрасли</a>
                </td>
                <td class="description">
                    <p>В данном разделе можно ознакомиться с информацией о различных отраслях, их описаниях, компаниях, осуществляющих свою деятельность в рамках определенной отрасли.</p>
                </td>
            </tr>                       
            <tr>
                <td>
                    <img src=" " href=" ">
                </td>
                <td>
                    <a href=" ">Страны</a>
                </td>
                <td class="description">
                    <p>В данном разделе содержится информация о различных странах, их экономиках, компаниях и многое другое.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src=" " href=" ">
                </td>
                <td>
                    <a href=" ">Обучение</a>
                </td>
                <td class="description">
                    <p>Данный раздел содержит справочную информацию, обучающую литературу и многое другое, что может быть полезно начинающему инвестору.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src=" " href=" ">
                </td>
                <td>
                    <a href=" ">О проекте</a>
                </td>
                <td class="description">
                    <p>Этот раздел посвящен данному проекту, его целям, описанию.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src=" " href=" ">
                </td>
                <td>
                    <a href=" ">Контакты</a>
                </td>
                <td class="description">
                    <p>Здесь пользователи и гости данного портала могут найти контакты, чтоб связаться с авторами идеи, оставить свои вопросы и пожелания касательно работы сайта.</p>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}