<!--the logo of the website-->
<a class="logotype" href="/">
    <img src="{{ url_for('static', filename='images/logotype.png') }}">
</a>
<!--
<nav class="menu-content">

    <ul>
        <li>
            <a href="{{ url_for('company.index') }}">Эмитенты</a>
        </li>
        <li>
            <a href=" ">Портфолио</a>
        </li>
        <li>
            <a href=" ">О проекте</a>
        </li>
    </ul>
</nav>
-->
<div class="slogan">
    <h1>Smart Invest Decision</h1>
    <h2>Информационный портал для начинающих инвесторов</h2>
</div>