{% extends 'base.html' %}
{% block content %}
    <!--the detail information for each company-->
    <div class="company-detail">
        <h1>{{ company.name }}</h1>
        <!--Tabs for the page-->
        <ul id="tabs">
            <li><a href="#" title="tab1">Профиль</a></li>
            <li><a href="#" title="tab2">Акции</a></li>
            <li><a href="#" title="tab3">Финансовая отчетность</a></li>
        </ul>
        <!--The content for each tab-->
        <div id="content">
            <div id="tab1">
                <div class="profile">
                    <h2>{{ company.name }} ({{ company.ticker }})</h2>
                    <h3>Описание</h3>
                    <p>{{ company.description }}</p>
                    <h3>Тикер</h3>
                    <p>{{ company.ticker }}</p>
                    <h3>Вэбсайт</h3>
                    <p>{{ company.website }}</p>
                </div>
                <div class="logo">
                    <img src="../../static/{{ company.logo }}">
                </div>
            </div>
            <div id="tab2">
                <canvas id="myChart" width="400" height="400"></canvas>
                <button id="0" type="button">1 год</button>
                <button id="1" type="button">5 лет</button>
                <script>
                    const options = {
                        scales:{
                            yAxes:[{
                                ticks:{
                                    beginAtZero: true
                                },
                            }],
                        },
                    }

                    const oneYear = {
                            labels: [{% for share in one_year_shares %}
                                        '{{ share.trading_date }}',
                                    {% endfor %}],
                            datasets: [{
                                label:'1 год',
                                data: [{% for share in one_year_shares %}
                                        '{{ share.close_price }}',
                                    {% endfor %}],
                                borderColor: "#3e95cd"
                            }]
                        }

                    const fiveYear = {
                            labels: [{% for share in five_year_shares %}
                                        '{{ share.trading_date }}',
                                    {% endfor %}],
                            datasets: [{
                                label:'5 лет',
                                data: [{% for share in five_year_shares %}
                                        '{{ share.close_price }}',
                                    {% endfor %}],
                                borderColor: "#3e95cd"
                            }]
                        }

                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chart = new Chart(ctx, {type: 'line', data: oneYear, options: options})

                    document.getElementById("0").addEventListener('click', () => {
                        chart.config.data = oneYear
                        chart.update();
                    });
                    document.getElementById("1").addEventListener('click', () => {
                        chart.config.data = fiveYear
                        chart.update();
                    });

                </script>
            </div>
            <div id="tab3">Вкладка Финансовая отчетность в разработке</div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/company_detail.js', v=1) }}"></script>
{% endblock %}