{% extends 'base.html' %}
{% block content %}
    <!--the detail information for each company-->
    <div class="caption">
        <h1>{{ company.name }}</h1>
    </div>
    <div class="company-detail">
        <!--Tabs for the page-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/company_detail.js', v=1) }}"></script>
        <ul id="tabs">
            <li><a href="#" title="tab1">Профиль</a></li>
            <li><a href="#" title="tab2">Акции</a></li>
            <li><a href="#" title="tab3">Финансовая отчетность</a></li>
        </ul>
        <!--The content for each tab-->
        <div id="content">
            <div id="tab1">
                {% include 'company/tab1.html' %}
            </div>
            <div id="tab2">
                {% include 'company/tab2.html' %}
            </div>
            <div id="tab3">
                {% include 'company/tab3.html' %}
            </div>
        </div>
    </div>

{% endblock %}