{% extends 'base.html' %}
{% block content %}
    <div class="caption">
        <h1>Эмитенты</h1>
    </div>
    <!--the list of the companies-->
    <div class="company-list">
        <div class="all-list-items">
            {% for company in company_list.items %}
                <div class="list-item">
                    <ul>
                        <li class="company_logo visible">
                            <img src="../static/{{ company.logo }}">
                        </li>
                        <li class="company_name">
                            <h2>
                                <a href="{{ url_for('company.company_detail', company_id=company.id) }}" class="content visible">{{ company.name }}</a>
                            </h2>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class='paginator'>
            <ul>
                <li>
                    {% if company_list.has_prev %}
                        <a href="{{ url_for('company.index', page=company_list.prev_num) }}">
                            <p>&lt;&lt; Предыдущая</p>
                        </a>
                    {% else %}
                        <p>&lt;&lt; Предыдущая</p>
                    {% endif %} 
                </li>
                <li>
                    {% if company_list.has_next %}
                        <a href="{{ url_for('company.index', page=company_list.next_num) }}">
                            <p>Следующая &gt;&gt;</p>
                        </a>
                    {% else %}
                        <p>Следующая &gt;&gt;</p>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <script>
        window.addEventListener('scroll', scrollActivityFunction, false);

        let descriptions = document.querySelectorAll(".company_description p")
        let names = document.querySelectorAll(".company_name a")
        let logos = document.querySelectorAll(".company_logo")

        function scrollActivityFunction() {
            for (let i = 0; i < descriptions.length; i++) {
                let oneDescription = descriptions[i];
                let oneName = names[i];
                let oneLogo = logos[i];
                if (isFullyVisible(oneDescription)) {
                    oneDescription.classList.add("visible");
                    oneName.classList.add("visible");
                    oneLogo.classList.add("visible");
                } else {
                    oneDescription.classList.remove("visible");
                    oneName.classList.remove("visible");
                    oneLogo.classList.remove("visible");
                };
            };
        };

        function isFullyVisible(element) {
            let elementBorders = element.getBoundingClientRect();

            let top = elementBorders.top;
            let bottom = elementBorders.bottom;

            return ((top > 0) && (bottom < window.innerHeight));
        };



    </script>
{% endblock %}