<h1>Балансовая ведомость</h1>

<select>
    <option value="cash_and_cash_equivalents">денежные средства и денежные эквиваленты</option>
    <option value="net_receivables">чистая дебиторская задолженность</option>
    <option value="inventory">запасы</option>
    <option value="total_current_assets">итого (оборотных активов)</option>
    <option value="property_plant_equipment_net">основные средства</option>
    <option value="intangible_assets">нематериальные активы</option>
    <option value="total_non_current_assets">итого (внеоборотных активов)</option>
    <option value="total_assets">баланс (активы)</option>
    <option value="account_payables">кредиторская задолженность</option>
    <option value="total_current_liabilities">итого (краткосрочные обязательства)</option>
    <option value="total_non_current_liabilities">итого (долгосрочные обязательства)</option>
    <option value="long_term_debt">долгосрочная задолженность</option>
    <option value="total_liabilities">баланс (пассивы)</option>
    <option value="common_stock">обыкновенные акции</option>
    <option value="retained_earnings">нераспределенная прибыль</option>
    <option value="total_stockholders_equity">общий акционерный капитал</option>
    <option value="total_liabilities_and_stockholders_equity">общие обязательства и акционерный капитал</option>
    <option value="total_investments">всего вложений</option>
    <option value="total_debt">общая задолженность</option>
    <option value="net_debt">чистый долг</option>
</select>
<select>
    <option value="twoYears">2 года</option>
    <option value="fiveYears">5 лет</option>
    <option value="tenYears">10 лет</option>
</select>